
  .nav {
    background: #000;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: 0;
  }

  
  /* This rule centers the nav items verticaly in the bar with the height and line height properties. Spacing between the nav items is controlled by setting right and left padding.  */
  .nav li {
    display: inline-block;
    list-style: none;
    height: 70px; /* should be the same as line-height */
    line-height: 60px; /* should be the same as height */
    padding: 0 40px; /* "0" sets top and bottom padding to none */
  }
  
  .button {
    background: #000000;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    border-radius: 10px;
    border-color: #000000;
    margin: 0.5em;
    padding: 1em 2em;
    color:#ffffff;
    transition: 0.25s;
  }
  .button:hover{
    background-color: #ffffff;
    color: #000000;
   }
